.swiper-slide {
  display: block;
  margin-bottom: 64px;
}

ion-content {
  margin-bottom: 10px;
}

ion-slides {
  height: 100%;
  max-width: 800px;
  --bullet-background: var(--ion-color-warning);
  --bullet-background-active: var(--ion-color-warning);
}

ion-slide > h3 {
  margin: 0 0 0 0;
}

ion-slide > p {
  font-size: 20px;
  padding: 1em 1em 1em 1em;
  color: var(--ion-color-medium-shade);
}

ion-slide > ion-icon {
  color: var(--ion-color-warning);
  font-size: 42px;
}

ion-slide > ion-icon[name='close'] {
  float: right;
}
